/* common.css */
.leftBox { float: left;}
.rightBox { float: right;}



/* footer */
footer {
    background: var(--point);
    text-align:center; padding:50px 0;
    font-size:0.95rem
}

footer > p {
    color: var(--white); 
    line-height: 1.5;
}