@charset "utf-8";

/* common.css */

:root {
    --point:#fcd62d;
    --yellow:#ffe16e;
    --white:#fff;
    --black:#323232;
    --bg:#f9f9f9;
}

body { position: relative; overflow-x: hidden;}
.leftBox { float: left;}
.rightBox { float: right;}
.flexBox { display: flex;}

::selection {
    background: var(--yellow);
    color: var(--white);
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-button {
    background: none;
    height: 0;
}

body::-webkit-scrollbar-thumb {
    background: var(--yellow);
    border-radius: 10px;
}

/* header */
#header_bg {
    width: 100%;
    height: 78px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    background-color: var(--white), 0.8; 
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 9999;
}

#header {
    width: 1280px;
    height: 78px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
#header .rightBox {
    display: flex;
    gap: 0 20px;
}

#header nav ul {
    display: flex;
    gap: 0 30px;
    font-size: 1.2rem;
    align-items: center;
}

#header nav a:hover {
    color:var(--point);
}

/* 다크모드 button */
#header .toggleBtn {
    width: 80px;
    height: 25px;
    border: 1px solid var(--black);
    border-radius: 15px;
}

#header .toggleBtn > div {
    width: 50%;
}


/* footer */
footer {
    background: var(--point);
    text-align:center; padding:50px 0;
    font-size:0.95rem
}

footer > p {
    color: var(--white); 
    line-height: 1.5;
}