@charset "utf-8";

/* common.css */

:root {
    --point:#fcd62d;
    --white:#fff;
    --black:#323232;
    --bg:#f9f9f9;
}

body { position: relative; overflow-x: hidden;}
.leftBox { float: left;}
.rightBox { float: right;}
.flexBox { display: flex;}

::selection {
    background: var(--point);
    color: var(--white);
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-button {
    background: none;
    height: 0;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgba(181, 156, 255, 1), rgba(241, 233, 212, 1));
    border-radius: 10px;
}


/* footer */
footer {
    background: var(--point);
    text-align:center; padding:50px 0;
    font-size:0.95rem
}

footer > p {
    color: var(--white); 
    line-height: 1.5;
}