/* 공통 color */
:root {
    --point:#8988ff;
    --white:#fff;
    --white01:#f5f5f5;
    --white-rgb:rgb(255, 255, 255);
    --black:#323232;
}

body {
    position: relative;
    overflow-x: hidden;
}



/* header */
#header_bg {
    width: 100%;
    height: 78px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    background-color: var(--white-rgb), 0.8; 
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 9999;
}

#header {
    width: 1280px;
    height: 78px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

#header nav ul {
    display: flex;
    gap: 0 30px;
    font-size: 1.2rem;
    align-items: center;
}

#header nav a:hover {
    color:var(--point);
}

/* 다크모드 button */
#header nav .toggleBtn {
    width: 80px;
    height: 25px;
    border: 1px solid var(--black);
    border-radius: 15px;
}

#header nav .toggleBtn > div {
    width: 50%;
}