@charset "utf-8";

/* main.css */

div[class^="section"] {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
}

.section1 {
    background: url(../images/section01_bg.png);
    background-repeat: repeat;
}

.section1 .secWrap {
    position: relative;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.section1 b {
    position: absolute;
    top: 0;
}

.section1 span {
    position: absolute;
    bottom: 0;
    left: 50%;
    text-align: center;
}