/* main.css */

section {
    display: flex;
    width: 1280px;
    margin: 0 auto;
}

section > div {
    padding: 0 16px;
}
/* left : 소개 */
section .sectionLeft { 
    width: calc(100% - 65%);
    max-width: 450px;
    height: calc(100% - 190px);
    position: sticky;
    left: 0;
    top: 150px;
    z-index: 10000;
}

section .sectionLeft .contBox {
    display: flex;
    flex-wrap: nowrap;
}

section .sectionLeft .myInfo {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 995px;
}

section .sectionLeft .myInfo img {
    width: 100%;
}

section .sectionLeft .infoTextBox {
    width: calc(100% - 150px);
}

/* right : 컨텐츠 */
section .sectionRgith {
    width: calc(100% - 35%);
    overflow: hidden;
}

/* about */
main .about_bg {
    padding:80px 0;
}

main #about {
    height: 100%; 
    text-align: center; 
}

main #about h1 { 
    font-size: 2.5rem; 
    line-height: 1.5;
}

main #about h1 span {
    font-size: 2.5rem;
    color:var(--point);
}

main #about > p {
    font-size: 1.5rem; 
    padding-top: 20px; 
    padding-bottom: 50px;
}

main #about .content {
    display:flex;
    background-color:var(--white01); 
    width: 100%;
    justify-content: center;
    padding: 30px 0;  
    position: relative;
}

main #about .content .photo {
    width: 450px; 
    height: 550px;
    margin-right: 100px;
    overflow:hidden;
    background-image: url(../images/my_picture.jpg);
    background-position: center; 
    background-size: cover;
}

main #about .content .about_txt {
    display: block; 
    font-size: 1rem; 
    margin-top: 20px; 
}

main #about .content .about_txt > p {
    font-size: 2.5rem;
    line-height: 1.8; 
    text-align: left; 
    padding-left: 20px; 
}

main #about .content .about_txt .keywords {
    font-size: 1.2rem; 
    color:var(--point); 
    padding-bottom: 10px;
}

main #about .content .about_txt .me {
    font-size: 1.5rem; 
    padding-bottom: 10px;
}

main #about .content .about_txt .contens {
    font-size: 1.3rem; padding-bottom: 10px;
}

main #about .content .about_txt .tool {
    font-size: 1.3rem;
}

main #about .link {
    color: var(--point);
    display:inline-block; padding: 15px 45px;
    border-radius: 10px; border: 2px solid var(--point);
    position: absolute;
    bottom: 10%;
    left: 41.5%;
}

main #about .link:hover {
    background: var(--point);
}




/* web_project 공통 영역*/
main #web_project { 
    padding:100px 0;
}

main #web_project p {
    font-size: 2.5rem;
    text-align: center;
}

main #web_project .web h1 {
    font-size: 1.5rem; 
    color: var(--point);
    padding-bottom: 10px;
}

main #web_project .web .project {
    height: 100%; 
    width: 1500px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
}

main #web_project .web .project .content_left {
    margin-right: 50px;
}

main #web_project .web .project .content_left dt {
    font-weight: 700; 
    padding-bottom: 5px;
}

main #web_project .web .project .content_left .tit { 
    font-size:2rem;
}

main #web_project .web .project .content_left dd {
    line-height: 1.7;  
    padding-bottom: 15px;
}

main #web_project .web .project .content_left dd:first-child {
    line-height: 1.7;
}

main #web_project .web .project .content_left .link {
    display:flex; 
    flex-flow:row wrap; 
    margin-top:50px;
}

main #web_project .web .project .content_left .link .btn_line {
    text-transform:capitalize; 
    background:var(--white); 
    border:1px solid var(--point); 
    color:var(--point);
}
main #web_project .web .project .content_left .link .btn_line:hover {
    background: var(--point);
}

main #web_project .web .project .img > img {
    width: 900px;
}




/* web 개별영역 */
main #web_project .web1 { 
    padding:150px 0;
}

main #web_project .web2 { 
    padding:150px 0;
}

/* clone */
main .bg5 .clone {    
    display: flex;
    width: 1400px; margin: 0 auto;
    text-align: center;
}

main .bg5 .clone div > img {
    width: 100%;
}

main .bg5 .clone div > p {
    font-weight: 700;
    font-size: 1.4rem;
    padding-bottom: 35px;
}

main .bg5 .clone div > a {
    border:1px solid var(--point);
    border-radius: 10px;
}

main .bg5 .clone div > a:hover {
    background: var(--point);
}
