@charset "utf-8";

/* font추가 */
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* rdset */
* { box-sizing:border-box; }
html,body,h1,h2,h3,h4,h5,h6,
p,div,ol,ul,li,dl,dt,dd,address,blockquote,video,
em,strong,span,sup,sub,del,s,q,a,img,
table,thead,tbody,tfoot,th,tr,td,
form,fieldset,legend,input,select,option,button,textarea,label,optgroup,
header,main,footer,nav,section,article,aside,figure,figcaption,details
{
    font-family: 'Pretendard', sans-serif;
    font-weight:normal; 
    font-size:16px; 
    font-style:normal;
    line-height:1.0; 
    margin:0; 
    padding:0; 
    color:var(--black);
    border:0;
}
ul,ol,li { list-style:none;}
a { text-decoration:none; color:#666;}
table,tr,td,th {border-collapse:collapse;text-align:left;}

/* cursor pointer=>마우스클릭 버튼으로 변경되는 기능 */
button {cursor:pointer;}
.skip {display:none;}   