@charset "utf-8";

/* font추가 */
@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Light.woff2') format('woff2');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('../font/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}

/* rdset */
* { box-sizing:border-box; }
html,body,h1,h2,h3,h4,h5,h6,
p,div,ol,ul,li,dl,dt,dd,address,blockquote,video,
em,strong,span,sup,sub,del,s,q,a,img,
table,thead,tbody,tfoot,th,tr,td,
form,fieldset,legend,input,select,option,button,textarea,label,optgroup,
header,main,footer,nav,section,article,aside,figure,figcaption,details
{
    font-family: 'Pretendard', sans-serif;
    font-weight:normal; 
    font-size:16px; 
    font-style:normal;
    line-height:1.0; 
    margin:0; 
    padding:0; 
    color:var(--black);
    border:0;
}
ul,ol,li { list-style:none;}
a { text-decoration:none; color:#666;}
table,tr,td,th {border-collapse:collapse;text-align:left;}

/* 기본 스타일 추가 */
.flexBox { display: flex !important;}
.leftBox { float: left !important;}
.rightBox { float: right !important;}

.font01 { font-family: 'Cafe24 Ssurround' !important;}
.font02 { font-family: 'Cafe24 Ssurround Air' !important;}

.font12{ font-size: 12px !important;}
.font13{ font-size: 13px !important;}
.font14{ font-size: 14px !important;}
.font15{ font-size: 15px !important;}
.font16{ font-size: 16px !important;}
.font18{ font-size: 18px !important;}
.font20{ font-size: 20px !important;}

.fontw300{ font-weight: 300 !important;}
.fontw400{ font-weight: 400 !important;}
.fontw500{ font-weight: 500 !important;}
.fontw600{ font-weight: 600 !important;}
.fontw700{ font-weight: 700 !important;}