/* 공통 color */
:root {
    --point:#B59CFF;
    --bg:#F1E9D4;
    --white:#fff;
    --black:#111;
    --black900:##232323;
    --black800:#323232;
    --black700:#757575;
}

body {
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

body.hidden {
    overflow: hidden;
}

.displaynone {
    display: none !important;
}

::selection {
    background: var(--point);
    color: var(--white);
}

body::-webkit-scrollbar {
    width: 10px;  
}

body::-webkit-scrollbar-button {
    background: none;
    height: 0;
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(to top, rgba(181, 156, 255, 1), rgba(241, 233, 212, 1));
    border-radius: 10px;
}




/* header */
#header_bg {
    width: 100%;
    height: 78px;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:0 4px 6px rgba(0,0,0,0.2);
    background-color: var(--white-rgb), 0.8; 
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 9999;
}

header {
    width: 1280px;
    height: 78px;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

header nav {
    display: flex;
    gap: 0 30px;
    font-size: 1.2rem;
    align-items: center;
}

header nav a:hover {
    color:var(--point);
}

/* footer */
footer {
    background: var(--point);
    text-align:center; 
    padding:1rem 0;
    font-size:0.95rem;
    font-weight: 300;
}

/* fixed 버튼's */
.btn_g {
    position: fixed;
    z-index: 1000;
    right: 20px;
    bottom: 40px;
    display: flex;
    flex-flow: column;
    gap: 10px 0;
}


.btn_g > a {
    width: 65px;
    height: 65px;
    position: relative;
    font-size: 0;
    line-height: 35px;
    text-align: center;
    background: var(--white);
    border-radius: 95px;
    box-shadow: 0 0 10px;
}

.btn_g > a:hover::after {
    display: block;
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
    color: var(--black);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn_g > a.copyBtn:hover::after {
    content: 'Email Capy';
    line-height: 1.1;
    font-size: 13px;
}

.btn_g > a.tellBtn:hover::after {
    content: 'Tell Capy';
    line-height: 1.1;
    font-size: 13px;
}

.btn_g > a.topBtn:hover::after {
    content: 'TOP';
}

.btn_g > a img {
    width: 32px;
    height: 32px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


/* 반응형 css : s */
/* 600px */
@media(max-width:600px) {
    /* fixed 버튼's */
    .btn_g {
        right: 15px;
        bottom: 20px;
    }

    .btn_g > a {
        width: 55px;
        height: 55px;
    }

    .btn_g > a.copyBtn:hover::after {
        content: '';
    }

    .btn_g > a.topBtn:hover::after {
        content: '';
    }
}
/* 반응형 css : e */