/* main.css */

section {
    width: 100%;
    margin: 0 auto;
}

/* 애니메이션 */
.scrollEle {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.6s ease-out;
}

.scrollEle.animate {
    opacity: 1;
    transform: translateY(0);
}


/* FIRST */
.first {
    background: var(--point);
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    text-align: center;
}

.first h1 {
    font-size: 3rem;
    font-weight: 300;
    margin: -2.5rem 0 0;
}

.first h1 span {
    font-size: 3rem;
    font-weight: 900;
}

.first .title {
    font-size:10rem;
    padding: 5rem 0 0;
    font-weight: 600;
    color: var(--white);
}

.first .subText {
    margin: 3rem 0 2rem;
    line-height: 1.5rem;
}

.first .imgBox {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 53vh;
}

.first .imgBox img {
    height: 100%;
}

.first .update {
    position: absolute;
    left: 5%;
    bottom: 20px;
    color: var(--black700);
}

.first .scrollIcon {
    position: relative;
    width: 35px;
    height: 15px;
    margin: 0 auto;
}

.first .scrollIcon::after,
.first .scrollIcon::before {
    content: '';
    width: 2px;
    height: 18px;
    background: var(--white);
    position: absolute;
    animation: arrowMove 0.5s infinite alternate ease-in-out;
}

.first .scrollIcon::after {
    transform: rotate(123deg);
    left: 4px;
    top: 2px;
}

.first .scrollIcon::before {
    transform: rotate(57deg);
    right: 14px;
    top: 0;
}

@keyframes arrowMove {
    0% {
        top: 4px;
    }
    100% {
        top: 0;
    }
}


.contentBox {
    width: 100%;
    background: #8c8c8c;
    position: relative;
}

.contentBox > section {
    padding: 9rem 40px;
    height: 100vh;
}

.contentBox > section > div {
    width: 1280px;
    margin: 0 auto;
}

.contentBox > section > div > h2 {
    width: 100%;
    padding: 0 0 3rem;
    font-size: 2rem;
    font-weight: 600;
}



/* ABOUT */
.about {
    display: flex;
    flex-wrap: wrap;
    background: var(--white);
}

.about .aboutMe {
    float: left;
    width: 40%;
    text-align: left;
}

.about .aboutMe img {
    width: 250px;
}

.about .aboutMe > div {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
}

.about .aboutMe > p {
    padding: 2rem 0;
    line-height: 1.3;
    font-weight: 300;
}

.about .aboutMe a {
    margin-top: 2rem;
    border: 1px solid var(--black);
    border-radius: 95px;
    display: block;
    width: calc(100% - 60%);
    line-height: 3;
    text-align: center;
    transition: all 0.3s;
    color: var(--black);
}

.about .aboutMe a:hover {
    background: var(--point);
    border: 1px solid var(--point);
    color: var(--white);
    transition: all 0.3s;
}

.about .keyword {
    float: right;
    width: 60%;
    display: flex;
    flex-flow: column;
    gap: 2rem 0;
}

.about .keyword > .qa {
    padding: 2.5rem;
    border: 1px solid var(--point);
    border-radius: 10px;
}

.about .keyword > .qa > div {
    line-height: 1.5;
    width: 75%;
}

.about .keyword h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: 600;
}



/* RESUME */
.resume {
    background: var(--black);
}

.resume > div > h2 {
    color: var(--white);
}

.resume ul {
    padding: 5em 0;
    position: relative;
}

.resume ul::after {
    content: '';
    width: 1px;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 0;
    background: var(--point);
}

.resume ul li {
    font-size: 1em;
    font-weight: 500;
    color: var(--black);
    padding-left: 0;
    padding-right: 50%;
    text-align: right;
    position: relative;
}

.resume ul li::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: var(--point);
    border: 3px solid var(--white);
    border-radius: 95px;
    z-index: 1;
} 

.resume ul li > p {
    text-align: right;
    padding-right: 5rem;
    line-height: 1.4;
    font-size: 1.1rem;
    color: var(--white);
}

.resume ul li > p > span {
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-left: 1rem;
    color: var(--point);
}

.resume ul li > p.term {
    font-size: 1rem;
    font-weight: 400;
    color: var(--black700);
}

.resume ul li:nth-child(2n) {
    padding-left: 50%;
    padding-right: 0;
    text-align: left;
    margin: 3rem 0;
}

.resume ul li:nth-child(2n) > p {
    text-align: left;
    padding-right: 0;
    padding-left: 5rem;
}



/* PROJECT */
.contentBox .project {
    height: auto;
}

.project {
    background: var(--white);
}

.project > div {
    display: flex;
    position: relative;
}

.project > div h2 {
    position: sticky;
    top: 2rem;
    left: 0;
    height: 30px;
    white-space: nowrap;
}

.project > div .flexLayoutBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 3rem 0 0 10rem;
}

.project > div .flexLayoutBox div[class^="project"] {
    width: calc(50% - 10.5px);
}

.project > div .flexLayoutBox div[class^="project"] img {
    width: 100%;
}

.projectItem {
    position: relative;
}


.projectItem:hover::after {
    content: '자세히 보기';
    display: block;
    width:inherit;
    padding: 7px 5px;
    border: 1px solid var(--white);
    color: var(--white);
    text-align: center;
    border-radius: 4px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.projectItem:hover::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6);
}

.project .popupCont {
    display: none;
}

.project .popupCont.open {
    display: block;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--white);
    width: 80%;
    height: 100vh;
}

/* .bg{
    background: var(--black700);
    width: 100vw;
    height: 100vh;
    opacity: 0;
} */

/* .project .popupCont.open::after {
    content: '';
    display: block;
    background: var(--black700);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1000%;
    height: 100vh;
    z-index: -1;
} */



/* LAST */
.last {
    background: var(--point);
    text-align:center; 
    padding:11rem 0;
    font-size:0.95rem;
    height: 100vh;
}

.last .title {
    font-weight: 900;
    font-size: 10rem;
    color: var(--white);
    margin: 5rem auto 0;
}

.last h2 {
    font-weight: 400;
    font-size: 3rem;
    margin: -2rem 0 0 0;
}

.last > p {
    color: var(--white); 
    line-height: 1.5;
    padding:7rem 0;
    font-size: 1.3rem;
    font-weight: 300;
}

.last .myseif {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.last .myseif > div {
    width: 33.33%;
}



/* 반응형 css : s */
/* 1340px */
@media(max-width:1340px) {
    /* ABOUT */
    .about .aboutMe > div {
        font-size: 1.2rem;
    }

    .contentBox > section {
        height: 100%;
    }
    .contentBox > section > div {
        width: 100%;
    }
    .contentBox > section > div > h2 {
        padding: 0 0 2rem;
    }
    
}

/* 1200px */
@media(max-width:1200px) {
    /* FIRST */
    .first h1 {
        font-size: 1.8rem;
        margin: -1.5rem 0 0
    }

    .first h1 span {
        font-size: 1.8rem;
    }

    .first .title {
        font-size: 5rem;
    }

    /* ABOUT */
    .about .keyword > .qa > div {
        width: 100%;
    }

}

@media(max-width:976px) {
    .resume ul .education > p > span {
        margin: 0;
        padding: 0 1rem 0 0;
    }
}

/* 920px */
@media(max-width:920px) {
    /* ABOUT */
    .about .aboutMe {
        float: none;
        width: 100%;
        text-align: center;
    }
    .about .aboutMe a {
        margin: 0 auto 2rem;
    }

    .about .aboutMe a:hover {
        background: var(--white);
        color: var(--black);
        border: 1px solid var(--black);
    }
    .about .keyword {
        float: none;
        width: 100%;
    }
}

/* 600px */
@media(max-width:600px) {
    /* FIRST */
    .first .title {
        font-size: 4rem;
    }

    .about .keyword h5 {
        font-size: 1.2rem;
    }
    .about .keyword > .qa {
        padding: 2rem;   
    }
}
/* 반응형 css : e */