<!-- header -->
<div class="header_wrap">
    <h1><img src="../images/common/logo.png" alt="로고"></h1>
    
    <nav>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Studying</a></li>
            </ul>
        </nav>
    </nav>

    <button type="button" class="toggleBtn" aria-label="테마 변경" aria-pressed="false">
        <span class="toggleMoon" aria-hidden="true"></span>
        <span class="toggleSun" aria-hidden="true"></span>
    </button>
</div>